/*
Estilos da pagina index.html
*/
.center {
    text-align: center;
}
.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 20px;
    font-size: 20px;
}
    

#menu li a {
   text-decoration: none;
   color: black;

}

#menu li a:hover{
    color:;
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 10%;
}
.wh {
    width: 500px;
    height: 300px;
}

.tm-social{
    height: 30px;
    height: 30px;
    
}

.mb-30{
    margin-bottom: 30px;
}

.ml-50{
    margin-left: 50px;
    
}
/*
Estilos da pagina contato.html
*/